<h1><%= @entry.title %></h1>

<p><%= @entry.content.html_safe %></p>

<% if Rails.env.development? %>
	<p>Debug Info:</p>
	<p>Linked Entries: <%= @entry.linked_entry_ids.map(&:to_s) %></p>
<% end %>

<% if @entry.ai_response.present? %>
	<h1>AI Response:</h1>

	<p><%= @entry.ai_response.content.html_safe %></p>
<% end %>

<%= link_to 'Edit', edit_user_entry_path(current_user, @entry) %> |
<%= link_to 'Delete Entry', user_entry_path(current_user, @entry), method: :delete, data: { confirm: 'Are you sure you want to delete this entry?' } %> |
<%= link_to 'Back', root_path %>
