<h1><%= @entry.title %></h1>

<p><%= @entry.content %></p>

<p>Linked Entries: <%= @entry.linked_entry_ids.map(&:to_s) %></p>

<% if @entry.ai_response.present? %>
	<h1>AI Response:</h1>

	<p><%= @entry.ai_response.content.html_safe %></p>
<% end %>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', root_path %>
